@-webkit-keyframes blink {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

* {
    margin:0px;
    padding:0px;

    font-family:  "Times New Roman";
    outline:none;
    color:#00ff00;
}

body {
    background-image:url('../images/backgrounds/bg2.png');
}

h1 {
  font-size:100px;
  -webkit-animation-name: blink;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s;
}

div {
    text-align: center;
    font-size:55px;
    color:#ff00f0;

}

a {
  color:#f0f0f0;
}

form {
  font-size: 20px;
}

form p {
  margin-bottom: 20px;
}

input {
  color:#000;
  height:30px;
  width:100px;
}

textarea {
  font-size:20px;
  color:#000;
}

.guestbook-entries a {
  font-size:25px;
  float:right;
}

.guestbook-entry {
  margin-bottom: 20px;
  font-size:10px;
}

.guestbook-entry div {
  font-size:25px;
}

.guestbook-form {
  margin-top: 40px;
}

.submit {
  height:50px;
  width:150px;
  font-size:50px;
  color:#000;
}

.content-body {
    width:1000px;
    margin:auto;
    padding-top:10px;
    background-color:rgba(0,0,0,0.5);
}

.decadegif {

}

.decadegif img {
    height:250px;
    margin:20px;
}

.partygif h3 {
    color:#ff0000;
    font-size:55px;
}

.partygif img {
    height:350px;
    margin:20px;
}