<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" media="screen, print" href="{{ STATIC_URL }}css/style.css" />
        <title>*~TO MEGHAN'S 90's BIRTHDAY PARTY!!!~*</title>
    </head>
    <body>
        <div class="content-body">
            <h1>YOU'RE INVITED...</h1>
            <img src="{{ STATIC_URL }}images/90scollage.jpg" />
            <div>*~TO MEGHAN'S 90's BIRTHDAY PARTY!!!~*</div>
            <div>
                <div>WHEN: Saturday Nov 10 at 9:30pm</div>
                <div>WHERE: The Rendezvous Grotto (2322 2nd Ave, Seattle)</div>
                <div>Sign the guestbook to RSVP!</div>
                <div>[guestbook link]</div>
            </div>
            <div>
                <div>WHAT:</div>
                <div>>A TOTAL CELEBRATION OF THE DECADE THAT BROUGHT US...</div>
                <div>
                    <div class="decadegif"><img src="{{ STATIC_URL }}images/decadegifs/1boymeetsworld.gif"/></div>
                    <div class="decadegif"><img src="{{ STATIC_URL }}images/decadegifs/2leoandkate.gif" /></div>
                    <div class="decadegif"><img src="{{ STATIC_URL }}images/decadegifs/3urkel.gif" /></div>
                    <div class="decadegif"><img src="{{ STATIC_URL }}images/decadegifs/4powerrangers.gif" /></div>
                    <div class="decadegif"><img src="{{ STATIC_URL }}images/decadegifs/5nirvana.gif" /></div>
                    <div class="decadegif"><img src="{{ STATIC_URL }}images/decadegifs/6areyouafraid.gif" /></div>
                    <div class="decadegif"><img src="{{ STATIC_URL }}images/decadegifs/7dancingbaby.gif" /></div>
                    <div class="decadegif"><img src="{{ STATIC_URL }}images/decadegifs/8michelle.gif" /></div>
                    <div class="decadegif"><img src="{{ STATIC_URL }}images/decadegifs/9homealone.gif" /></div>
                    <div class="decadegif"><img src="{{ STATIC_URL }}images/decadegifs/10beaniebabies.gif" /></div>
                </div>
                <div>THIS PARTY IS GONNA BE THE BOMB! BOOYA!</div>
                <div>So put on your 90s BEST...</div>
                <div>
                    [nsync.jpg]
                    [clarissa.jpg]
                    [tlc.jpg]
                </div>
                <div>And get ready to PARTY, 90s STYLE!</div>
                <div>WE WILL HAVE...</div>
                <div class="partygif">
                    <img src="{{ STATIC_URL }}images/partygifs/Pogs.jpeg" alt="POGS!!!" />
                    <h3>POGS!!!</h3>
                </div>
                <div class="partygif">
                    <img src="{{ STATIC_URL }}images/partygifs/laserportrait.jpeg" alt="LASER SCHOOL PORTRAIT STUDIO!!!!!" />
                    <h3>LASER SCHOOL PORTRAIT STUDIO!!!!!</h3>
                </div>
                <div class="partygif">
                    <img src="{{ STATIC_URL }}images/partygifs/everclear.jpeg" alt="FAMOUS 90's COVER BAND, NEVERCLEAR!!!!!!!!!!" />
                    <h3>FAMOUS 90's COVER BAND, NEVERCLEAR!!!!!!!!!!</h3>
                </div>
                <div>plus...</div>
                <div class="partygif">
                    <img src="{{ STATIC_URL }}images/partygifs/1friends.gif" alt="FRIENDS!" />
                    <h3>FRIENDS!</h3>
                </div>
                <div class="partygif">
                    <img src="{{ STATIC_URL }}images/partygifs/3dancing.gif" alt="A LIVE BAND and COMPLETELY 90s SOUNDTRACK!!" />
                    <h3>A LIVE BAND and COMPLETELY 90s SOUNDTRACK!!</h3>
                </div>
                <div class="partygif">
                    <img src="{{ STATIC_URL }}images/partygifs/4drinking.gif" alt="ALCOHOL (it's a bar)!!!" />
                    <h3>ALCOHOL (it's a bar)!!!</h3>
                </div>
                <div class="partygif">
                    <img src="{{ STATIC_URL }}images/partygifs/5romance.gif" alt="ROMANCE (maybe)!!!!" />
                    <h3>ROMANCE (maybe)!!!!</h3>
                </div>
                <div class="partygif"
                    <img src="{{ STATIC_URL }}images/partygifs/6sexiness.gif" alt="SEXINESS (DEFINITELY)!!!!! And most importantly of all..." />
                    <h3>SEXINESS (DEFINITELY)!!!!! And most importantly of all...</h3>
                </div>
                <div class="partygif">
                    <img src="{{ STATIC_URL }}images/partygifs/8fun.gif" alt="FUN!!!!!!!" />
                    <h3>FUN!!!!!!!</h3>
                </div>
                <div><h1>AAAAAAAALRIGHTY THEN! Hope you can make it!</h1></div>
            </div>
        </div>
    </body>
</html>